.vscode/settings.json
**/.ipynb_checkpoints/exec_query-checkpoint.sql
**/.ipynb_checkpoints/gcp_client_library-checkpoint.ipynb
**/.ipynb_checkpoints/Untitled-checkpoint.ipynb
**/.ipynb_checkpoints/upload-checkpoint.csv
**/.Rproj.user/
**/R/.RData
**/R/.Rhistory
**/R/R.Rproj
**/venv/
Translate_API/youtube_script_translate/input.txt
Translate_API/youtube_script_translate/result.txt
